#Cambiar por las reales
SUPABASE_URL=https://yizdngjwvvhifwokizvn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpemRuZ2p3dnZoaWZ3b2tpenZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNzYzMTEsImV4cCI6MjA4ODg1MjMxMX0.9vTLdA1JjaDPdlSSYo6kEykvZ9v4LVGdYxY6bTvil8s

